*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    font-size: 3rem;
  }
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .works-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    border: 3px solid black;
    box-shadow: inset 0 0 0 2px white;
    padding: 5px;
    width: 50%;
    height: 400px;
    background-color: black;
    cursor: default;

    a {
      padding: 0;
      margin: 0;
      transition: 0.2s;
      color: white;
      cursor: default;

      &:hover {
        cursor: default;
      }
    }
  }
}