*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  overflow: visible;
  margin: 0;
  padding: 0;
  //font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  .logo {
    font-size: 3rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  @media only screen and (max-width: 750px) {
    min-width: 650px;
  }
  margin: 0 auto;
  padding: 20px;

  .settings {
    display: flex;
    flex-flow: column;

    .get-started {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 500px;

      input {
        border: 1px solid lightgray;
        margin-right: 3px;
        width: 100px;
      }

      .generate {
        background-color: lightgray;
        padding: 5px;
        margin-left: 10px;
        border-radius: 5px;
        border: 1px solid transparent;
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          border: 1px solid black;
        }
      }
    }
  }

  .statistics {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
      font-size: 17px;
    }
  }

  #tableHolder {
    position: relative;
    margin-top: 10px;

    table {
      table-layout: fixed;
      border: 1px solid lightgray;
      margin: 0 auto;
      border-collapse: collapse;
      table-layout: fixed;

      tr {
        td {
          border: 1px solid lightgray;
          width: 25px;
          height: 25px;
          transition: 0.1s;
          background-color: #d9f5ff;
          overflow: hidden;

          &:hover {
            cursor: default;
            background-color: #c8e3ed;
          }
        }
      }
    }
  }
}

.game-over {
  position: absolute;
  cursor: default;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(230, 230, 230, 0.7);
  width: 100%;
  height: 100%;
}

.win {
  position: absolute;
  cursor: default;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: rgba(230, 230, 230, 0.7);
  width: 100%;
  height: 100%;
}

.flag {
  background: url("../images/flag.png") no-repeat center;
  background-size: contain;
}

.question {
  background: url("../images/question.png") no-repeat center;
  background-size: contain;
}

.bomb {
  background: url("../images/bomb.png") no-repeat center;
  background-size: contain;

  &.active {
    background-color: crimson !important;
  }

  &.wasted {
    background-color: lightgreen !important;
  }
}

.open {
  background-color: white !important;
}

.number {
  font-weight: bold;
  text-align: center;

  &.one {
    color: blue;
  }

  &.two {
    color: green;
  }

  &.three {
    color: crimson;;
  }

  &.more {
    color: mediumvioletred;
  }
}