*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  overflow: visible;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  //display: flex;
  //flex-direction: column;
  height: 100vh;
  //background-color: #404040;
}

header {
  text-align: center;
  margin: 10px 0;
}

.main-wrapper {
  padding: 20px;

  .big-calendar {
    @extend .shadow;
    margin: 0 auto;
    width: 75%;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    display: flex;
    flex-direction: column;

    .row {
      display: flex;

      &.main {
        border-bottom: 1px solid lightgray;

        .cell {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: default;

          span.date {
            font-weight: bold;
          }

          span.day {
            color: gray;
            font-size: 0.9em;
          }

          &.today {

          }
        }
      }

      .cell {
        padding: 5px;

        &.main {
          cursor: pointer;
          min-width: 150px;
          background-color: white;
          border-right: 1px solid lightgray;
          display: flex;
          align-items: center;

          &:hover {
            .settings {
              width: 20px;

              div {
                opacity: 1;
              }
            }
          }

          .settings {
            transition: 0.5s;
            width: 0px;

            div {
              transition: 0.5s;
              opacity: 0;
            }

            .color {
              width: 10px;
              height: 10px;
              border-radius: 100%;
              //border: 1px solid gray;
              margin-right: 5px;
            }
          }
        }

        &.date {
          width: calc(100% / 14);
          transition: 0.75s;
          background-color: #fff;
          min-width: 50px;
          //min-height: 50px;
          @extend .done;

          &:not(:last-child) {
            border-right: 1px solid #f5f5f5;
          }
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid #f5f5f5;
      }

      &:first-child {
        border-bottom: 1px solid lightgray;
      }
    }
  }
}

.done {
}

.shadow {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

@keyframes bloom {
  0% {
    box-shadow: 0px 0px 5px 0px lightgreen;
  }
  100% {
    box-shadow: 0px 0px 25px 0px lightgreen;
  }
}