*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  overflow: visible;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  //background-color: #404040;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 0 0 7px 7px;
  padding: 5px 20px;
  background: linear-gradient(45deg, rgba(200, 35, 190, 1) 0%, rgba(255, 140, 45, 1) 100%);

  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
  }

  .user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .user-img {
      border-radius: 100%;
      width: 35px;
      height: 35px;
      overflow: hidden;

      img {
        max-width: 100%;
        object-fit: cover;
      }
    }

    .user-name {
      color: white;
      font-weight: bold;
      text-shadow: 1px 1px 1px black;
    }
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 50px;

  .calendars-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 5px;

    .calendar {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 20px;
      @extend .shadow;

      .month-name {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
cursor: default;
        font-weight: bold;
        padding: 2px;
        border-bottom: 1px solid lightgray;
      }

      .dates-wrapper {
        display: flex;
        width: 95%;

        .col {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 90%;

          .week-day {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 0px;
            color: gray;
            cursor: default;
          }

          .date {
            background: linear-gradient(45deg, rgba(200, 35, 190, 1) 0%, rgba(255, 140, 45, 1) 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            margin: 5px 0;
            border-radius: 5px;
            color: white;
            font-family: "Poppins", sans-serif;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
            }
          }
        }
      }
    }
  }

  .tasks-wrapper {
    margin-top: 40px;
    border-radius: 5px;
    padding: 20px;
    @extend .shadow;

    .add-task {
      display: flex;
      justify-content: center;

      input {
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        background-color: #eeeeee;
        border: none;
      }
    }

    .tasks {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 1.3rem;
        color: black;
        text-transform: uppercase;
        margin: 10px 0;
      }

      .task {
        display: flex;
        align-items: center;
        width: 100%;
        //border-radius: 0 10px 10px 0;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid lightgray;

        &.active {
          background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          color: white;
          text-shadow: 1px 1px 3px black;
        }
      }
    }
  }

  .history-wrapper {
    margin-top: 40px;
    border-radius: 5px;
    padding: 20px;
    @extend .shadow;

    .history {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 1.3rem;
        color: black;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      .history_entry {
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid lightgray;
        padding: 10px;
        &.done {
          background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          color: white;
          text-shadow: 1px 1px 3px black;
        }
      }
    }
  }

}

.shadow {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}