*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  overflow: visible;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 0 0 7px 7px;
  padding: 5px 20px;
  background: linear-gradient(45deg, #c823be 0%, #ff8c2d 100%);
}
header .logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
}
header .user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .user-wrapper .user-img {
  border-radius: 100%;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
header .user-wrapper .user-img img {
  max-width: 100%;
  object-fit: cover;
}
header .user-wrapper .user-name {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 50px;
}
.main-wrapper .calendars-wrapper {
  position: relative;
  display: flex;
  overflow: auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
.main-wrapper .calendars-wrapper .calendar {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.main-wrapper .calendars-wrapper .calendar .month-name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: default;
  font-weight: bold;
  padding: 2px;
  border-bottom: 1px solid lightgray;
}
.main-wrapper .calendars-wrapper .calendar .dates-wrapper {
  display: flex;
  padding: 5px;
}
.main-wrapper .calendars-wrapper .calendar .dates-wrapper .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 2px;
}
.main-wrapper .calendars-wrapper .calendar .dates-wrapper .col .week-day {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0px;
  color: gray;
  cursor: default;
}
.main-wrapper .calendars-wrapper .calendar .dates-wrapper .col .date {
  background: linear-gradient(45deg, #c823be 0%, #ff8c2d 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 2px 0;
  border-radius: 5px;
  color: white;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.2s;
}
.main-wrapper .calendars-wrapper .calendar .dates-wrapper .col .date:hover {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}
.main-wrapper .calendars-wrapper .calendar .dates-wrapper .col .date.extra {
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}
.main-wrapper .tasks-wrapper {
  margin-top: 40px;
  border-radius: 5px;
  padding: 20px;
}
.main-wrapper .tasks-wrapper .add-task {
  display: flex;
  justify-content: center;
}
.main-wrapper .tasks-wrapper .add-task input {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background-color: #eeeeee;
  border: none;
  font-family: "Raleway", sans-serif;
}
.main-wrapper .tasks-wrapper .tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-wrapper .tasks-wrapper .tasks .title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
  text-transform: uppercase;
  margin: 10px 0;
}
.main-wrapper .tasks-wrapper .tasks .task {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid lightgray;
}
.main-wrapper .tasks-wrapper .tasks .task.active {
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  text-shadow: 1px 1px 3px black;
}
.main-wrapper .history-wrapper {
  margin-top: 40px;
  border-radius: 5px;
  padding: 20px;
}
.main-wrapper .history-wrapper .history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-wrapper .history-wrapper .history .title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-wrapper .history-wrapper .history .history_entry {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid lightgray;
  padding: 10px;
}
.main-wrapper .history-wrapper .history .history_entry.done {
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  text-shadow: 1px 1px 3px black;
}

.shadow, .main-wrapper .calendars-wrapper .calendar, .main-wrapper .tasks-wrapper, .main-wrapper .history-wrapper {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=style.css.map */
