*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  overflow: visible;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  height: 100vh;
}

header {
  text-align: center;
  margin: 10px 0;
}

.main-wrapper {
  padding: 20px;
}
.main-wrapper .first-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-wrapper .first-block .calendar-wrapper {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .main-wrapper .first-block .calendar-wrapper {
    width: 100%;
  }
}
.main-wrapper .first-block .calendar-wrapper .big-calendar {
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .main-wrapper .first-block .calendar-wrapper .big-calendar {
    width: 100%;
  }
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row {
  overflow: hidden;
  display: flex;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row.main {
  border-bottom: 1px solid lightgray;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row.main .cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row.main .cell span.date {
  font-weight: bold;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row.main .cell span.day {
  color: gray;
  font-size: 0.9em;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row .cell {
  padding: 5px;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row .cell.main {
  cursor: pointer;
  min-width: 150px;
  background-color: white;
  border-right: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row .cell.main:hover .settings {
  width: 20px;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row .cell.main:hover .settings div {
  opacity: 1;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row .cell.main .settings {
  transition: 0.5s;
  width: 0px;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row .cell.main .settings div {
  transition: 0.5s;
  opacity: 0;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row .cell.main .settings .color {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row .cell.date {
  width: calc(100% / 14);
  transition: 0.75s;
  background-color: #fff;
  min-width: 50px;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row .cell.date:not(:last-child) {
  border-right: 1px solid #f5f5f5;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row:first-child {
  border-bottom: 1px solid lightgray;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row.foot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: limegreen;
  transition: 1s;
  overflow: hidden;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row.foot span {
  cursor: pointer;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row.foot .wrapper {
  transition: 1s;
  opacity: 0;
  width: 0%;
  display: flex;
  align-items: center;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row.foot .wrapper input {
  border: 1px solid lightgray;
  width: 100%;
  height: 25px;
  border-radius: 7px 0 0 7px;
  padding: 5px;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row.foot .wrapper .btn {
  height: 25px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid lightgray;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row.foot .wrapper .btn.add {
  border-left: none;
  border-right: none;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row.foot .wrapper .btn.cancel {
  border-radius: 0 7px 7px 0;
  color: red;
}
.main-wrapper .first-block .calendar-wrapper .big-calendar .row.foot.active .wrapper {
  opacity: 1;
  width: 100%;
}
.main-wrapper .first-block .user-wrapper {
  width: 250px;
  border-radius: 7px;
}

.shadow, .main-wrapper .first-block .calendar-wrapper .big-calendar, .main-wrapper .first-block .user-wrapper {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

@keyframes bloom {
  0% {
    box-shadow: 0px 0px 5px 0px lightgreen;
  }
  100% {
    box-shadow: 0px 0px 25px 0px lightgreen;
  }
}

/*# sourceMappingURL=style.css.map */
